.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* HEADER */
/* logotype part 1 */
.logo-item-one,
.footer-item-one {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
/* logotype part 2 */
.logo-item-two,
.footer-item-two {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #2e2f42;
}
/* menu main */
.menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu:hover,
.contact-email:hover,
.contact-phone:hover,
.menu-link:focus,
.menu:focus,
.contact-email:focus,
.contact-phone:focus {
  color: #404bbf;
}
/* contacts */
.contact-phone {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-email {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Title H1 */
.title-section-one {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  /* color: #FFFFFF; */
  width: 520px;
  height: 120px;
  left: 472px;
  top: 260px;
}

/* batton order service */
.modal-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-button:hover, 
.modal-button:focus{
  cursor: pointer;
  background: #404BBF;
}
.modal-button-text {
 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  /* color: #FFFFFF;*/
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* section 2 */
.title-section-two {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.text-section-two {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* section 3 */

.title-section-three {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* section 4 */
.title-section-four {
  
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team {
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.team-role {
 
  font-family: 'Roboto',sans-serif;
  
  
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* footer */
.footer-text { 
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  /* color: #F4F4FD; */
}


/* PORTFOLIO */
/* BAttons */
.modal-btn{
background: #F4F4FD;
flex: none;
order: 0;
flex-grow: 0;
}
.modal-btn:hover {
  cursor: pointer;
  background: #404BBF;

}
.button-text:hover{
  color: #FFFFFF;
}
.button-text{
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
flex: none;
order: 0;
flex-grow: 0;
}
/* section 2 */
.content-item{
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
}
.content-item-text{
font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
flex: none;
order: 1;
flex-grow: 0;
}